body {
	background:url(/images/bg-grey.gif) top repeat-x;
	background-color:#f6f4f2;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial, verdana, sans-serif;
	font-size: 70%;
	text-align: center;
	height: 100%
}
